<h1>Sentiment Analysis</h1>

<h5>All import</h5>

In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import nltk
from nltk.corpus import stopwords

<h4>Load Data</h4>

In [48]:
# Load the data
data = pd.read_csv('../raw_sentiment_data.csv')

data.head()

                                       Comment
0           I love this product, it's amazing!
1  This is the worst experience I've ever had.
2                  It's okay, nothing special.
3  Absolutely fantastic! I would buy it again.
4    I'm really disappointed with the quality.

In [49]:
# Check for missing values
data.isnull().sum()

# Drop missing values
data = data.dropna()

<h4>Preprocess the Text Data</h4>

In [50]:
nltk.download('stopwords')
stop = set(stopwords.words('english'))
print(data.columns)

Index(['Comment'], dtype='object')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\suraj\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [51]:
def clean_text(text):
    text = text.lower()   # Convert to lowercase for example: "Hello" -> "hello"
    text = re.sub(r'[^\w\s]', '', text)  # Remove punctuation for example: "I'm" -> "Im"    
    text = re.sub(r'\d+', '', text)  # Remove numbers for example: "I have 2 dogs" -> "I have dogs"
    text = ' '.join([word for word in text.split() if word not in stop])   # Remove stopwords for example: "I am a student" -> "student"
    return text

data['cleaned_text'] = data['Comment'].apply(clean_text)  # Apply the clean_text function to the 'Comment' column

In [52]:
data.head()

                                       Comment                    cleaned_text
0           I love this product, it's amazing!            love product amazing
1  This is the worst experience I've ever had.       worst experience ive ever
2                  It's okay, nothing special.            okay nothing special
3  Absolutely fantastic! I would buy it again.  absolutely fantastic would buy
4    I'm really disappointed with the quality.  im really disappointed quality